/* Contact Section*/
.contact {
  position: relative;
  z-index: 5;
  margin-top: 105px;
  margin-bottom: 59px;
  background-color: $color-white;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0 26px;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      padding-top: 50px;
    }
  }

  &__column {
    &:first-child {
      @include tablet {
        padding-left: 30px;
        min-width: 425px;
      }
    }

    &:last-child {
      @include tablet {
      max-width: 440px;
      }
    }
  }
  &__title {
    font-size: 4rem;

    @include tablet {
    font-size: 4.9rem;
  }
}
  
  &__text {
    font-size: 1.6rem;
    margin: 22px 0 42px;
  }
  
  &__links {
    display: block;
    
    @include tablet{
      display: flex;
    }
  }
  
  &__link {
    font-size: 1.6rem;
    color: $color-grey;
    margin-left: 10px;
  }
  
  &__mail {
    margin-right: 20px;
  }

  &__btn {
    float: right;
    padding: 20px 97px 19px 97px;
    background-color: $color-primary;
    border: none;
    border-radius: 35px;
    box-shadow: 5px 10px 14px $color-primary-shadow;
    font: 700 1.3rem $font-open-sans;
  }
}




.form__label--style {
  font: 700 1.1rem $font-open-sans;
  color: $color-primary;
  letter-spacing: 3.28px;
  text-transform: uppercase;

  &:last-child {
    margin-top: 42px;
  }
}

input[type="text"] {
  margin-bottom: 42px;
}

.form__input {
  outline: none;
  border: none;
  border-bottom: 1px solid $color-grey;
  width: 100%;
  padding-top: 22px;

  &:focus {
    border-bottom: 1px solid $color-primary;
  }
}


.checkbox {
  display: flex;
  margin: 30px 0 20px;
  font: 400 1.2rem/1.5 $font-open-sans;
  color: rgb(112, 112, 112);
  cursor: pointer;

  &__input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;

    &:checked {
      +.checkbox__span {

     &::after {
       content: "";
       background: url("../assets/Checkmark.svg") no-repeat;
       background-size: cover;
       position: absolute;
       width: 12px;
       height: 11px;
       }
     }
   }
  }
  
  &__span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid rgb(149, 152, 154);
  }
}





